<VirtualHost *:80>
    ServerName {{ server_name }}
    {% if server_alias is defined %}
    ServerAlias {{ server_alias }}
    {% endif %}
    DocumentRoot "{{ document_root }}"
    <Directory "{{ document_root }}">
        AllowOverride All
        Options -Indexes +FollowSymLinks
        Require all granted
    </Directory>
</VirtualHost>
